streamlit>=1.37.0
torch
torchaudio
faiss-cpu
av
ffmpeg-python
loguru
omegaconf>=2.1.0
hydra-core
antlr4-python3-runtime>=4.9.2,<4.10
pyworld
praat-parselmouth
soundfile
torchcrepe
pydantic
requests
regex
bitarray
sacrebleu
editdistance
scipy
librosa
